//Change these variables to get another color set
$bg-color: #060606;
$font-color: #FFF;
$font-color--reverse: #000;
$accent-color: rgb(95, 183, 255);
$accent-color--light: #AAA;
$accent-color--dark: #222;
$border: none;